doctype html
html
 head
   script(src="/time_response.js")
 body
  h1 Who am I?
  div#page_div
   p(style={color:'red'}) This page displays simple user information gleaned from their web browser
   p(style={color:'blue'}) Current user information: #{json_holder}
