doctype html
html
 head
   script(src="/time_response.js")
 body
  h1 API BaseJump: Time Stamp Microservice
  div#page_div
   img(src ="http://thumbs.dreamstime.com/x/vintage-clock-isolated-white-34824705.jpg")
   p(style={color:'red'}) Add a date in unix or natural time to the path and see it transformed!
   p(style={color:'blue'}) Current queried time: #{json_holder}
